<nav class="navbar navbar-light" style="background-color: purple;">
   <h4 class="text-center" style="margin-left: 40%;">
    <strong style="color:rgb(255, 0, 149);">SASS OR SCSS</strong>
  </h4>
</nav>
<div class="row mainbox">
  <div class="col-sm-3">
    <!-- SASS Variables -->
    <app-variables></app-variables>
  </div>
  <div class="col-sm-3">
    <!-- SASS Nesting Of Variables -->
    <app-nesting></app-nesting>
  </div>
  <div class="col-sm-3">
    <!-- SASS Mixin -->
    <app-mixin></app-mixin>
  </div>
  <div class="col-sm-3">
    <!-- SASS Operators -->
    <app-operators></app-operators>
  </div>
</div>

<hr>

<div class="row mainbox">
  <div class="col-sm-3">
    <!-- SASS MixinSecond -->
    <app-mixing-second></app-mixing-second>
  </div> 
  <div class="col-sm-3">
    <!-- SASS Partials -->
    <app-partials></app-partials>
  </div>
</div>

<hr>

<router-outlet></router-outlet> 